<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.effiu"/>

    <bean id="testService" class="com.effiu.service.impl.TestServiceImpl"/>
    <bean id="person" class="com.effiu.dto.Person">
        <constructor-arg index="0" type="java.lang.String" value="zhangshuai"/>
        <constructor-arg index="1" type="int" value="29"/>
        <constructor-arg index="2" type="boolean" value="true"/>
    </bean>
</beans>